// Slider one
$one-bg-color: #00cdde;
$one-title-color: #f24444;
$one-line-color: #f24444;

// Slider two
$two-bg-color: #ffb208;
$two-title-color: #0044fb;
$two-line-color: #fc17aa;

// Slider three
$three-bg-color: #f24444;
$three-title-color: #0044fb;
$three-line-color: #00cdde;
